

# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "1415751890:AAEXi7h4viMRYfZl-L08zNTURWFEpVkFbm4"
GDRIVE_FOLDER_ID = "1bBYZC3CoPgeSeZ-px9QZE01twd50Wzdj"
TELEGRAPH_TOKEN = "b3ea0735e3с5сd87bс78693bс7е8789518bс403f96531074с1а74d681119"
OWNER_ID =1100786823
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 1
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "false"
INDEX_URL = ""
USER_SESSION_STRING = "BQBXVB8Is4FrbCsr4fRKe71JYvQvzn55NpA4z9MsbiA8ylF3wnr-fwKrWjk_jbrda2UFvXtl5roHdqyBX4_ul-WO_1LZQa1N8MiVOr-c8CXhVPfyK47SnKhg3ifE6u05NczjpWoClPxnmOr3S-jENLsNuo2FsC7_vYBpA4IWOqdY0NfLtF-1-n9AEXanki"
TELEGRAM_API = 1863183
TELEGRAM_HASH = "331a0a336b9ec4f0cacb8f27deb39bf8"
USE_SERVICE_ACCOUNTS = ""
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
# For any help ask in Telegram Group: https://t.me/linux_repo
